body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    margin-bottom: 0.5em;
    padding: 10px;
    text-align: center;
    font-size: 36px;
    font-family: 'Arial Rounded MT Bold', Arial, sans-serif;
    color: #4B2E2F;
    font-style: italic;
}

.section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #d4a373;
}

.tan-background {
    background-color: #d4a373;
    padding: 20px;
    min-height: calc(100vh - 100px);
    box-sizing: border-box;
}

.text-container-top {
    flex: 1;
    margin-right: 20px;
    color: #4B2E2F;
    font-family: 'Arial Rounded MT Bold', Arial, sans-serif;
    font-size: 32px;
    line-height: 6;
    letter-spacing: 0.5px;
}

.text-container-bottom {
    flex: 1;
    margin-right: 20px;
    color: #4B2E2F;
    margin-top: 70px;
    font-family: 'Arial Rounded MT Bold', Arial, sans-serif;
    line-height: 6;
    letter-spacing: 0.5px;
}

.image-left, .image-right {
    width: 475px;
    height: auto;
    margin: 25px;
    flex-shrink: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid #ddd;
}

.image-right {
    align-self: flex-end;
    margin-top: 175px;
}

h2 {
    color: #4B2E2F;
    margin-top: 15px;
    font-size: 22px;
    font-family: 'Arial Rounded MT Bold', Arial, sans-serif;
}

p {
    color: #4B2E2F;
    line-height: 1.6;
    font-size: 22px;
    font-family: 'Arial Rounded MT Bold', Arial, sans-serif;
}

.container {
    position: relative;
}

footer {
    background-color: white;
    height: 90px;
    margin-top: 80px;
    text-align: right;
    padding-right: 20px;
    margin-right: 20px;
}
footer a.back-to-main {
    color: #4B2E2F; 
}


footer a.back-to-main:hover {
   text-decoration: underline;
}
